.table {
    width: 50%;
    margin: 0 auto;
    border-style: solid;
}

.header-row {
    text-align: center;
    background-color: rgb(170, 170, 170);
}

.main-row {
    text-align: left;
    background-color: rgb(255, 127, 80);
}